<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955662295019-1n83s53kv4mvrakf2v2ken3vn9vtoi62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955662295019-1n83s53kv4mvrakf2v2ken3vn9vtoi62</string>
	<key>API_KEY</key>
	<string>AIzaSyCaAiTeKu_5IZ8-R_5vRbLMfR_D0cmMNQc</string>
	<key>GCM_SENDER_ID</key>
	<string>955662295019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabrielcastilloserafim.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-d60b9</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-d60b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955662295019:ios:df3467597aab9946c6c3ae</string>
</dict>
</plist>